// MIXIN
//simple mixin
@mixin inline-list() {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

.header ul {
  @include inline-list();
  li {
    background-color: skyblue;
    padding: 0.6em;
    border-radius: 10px;

    a {
      color: white;
      text-decoration: none;
    }
  }
}
.header ul {
  @include inline-list();
  li:hover {
    background-color: rgb(24, 92, 119);
    padding: 0.8em;

    a:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.footer ul {
  @include inline-list();
  li {
    background-color: salmon;
    padding: 0.8em;
    border-radius: 5px;
    margin: 0 5px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

//Arguments pada Mixin

// @mixin flex-box($direction: row) {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: $direction;
// }

// .container {
//   @include flex-box(column);
//   width: 600px;
//   height: 400px;
//   background-color: #eaeaea;
//   .box {
//     width: 60px;
//     height: 60px;
//     background-color: #bada55;
//     text-align: center;
//     line-height: 60px;
//   }
// }

// Multiple Argument pada SASS/SCSS

@mixin flex-box($direction: row, $justifiy: center) {
  display: flex;
  justify-content: $justifiy;
  align-items: center;
  flex-direction: $direction;
}

.container {
  @include flex-box(column, space-around);
  width: 600px;
  height: 400px;
  background-color: #eaeaea;
  .box {
    width: 60px;
    height: 60px;
    background-color: #bada55;
    text-align: center;
    line-height: 60px;
  }
}
